<div class="container">
<div class="col-md-6 col-md-offset-3">
  <h4>Login</h4>

  <button id="clear-completed" class="btn btn-primary btn-lg btn-block" {{action "loginFacebook"}}>
      Login with facebook
  </button>


</div>
</div>
